
/* Global base styles */
@layer base {
  html {
    /* Enable smooth fonts while keeping normal font weight */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    margin: 0;
    background-color: white; /* Sets the full page background */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #282c34
}

  .App {
    text-align: center;
    color: #282c34; /* Sets the primary text color to white */
  }
  #root {
    @apply min-h-screen;
  }
}
